body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
  margin: 0;padding: 0;
}
.leaflet-container{
  width: 100%;
  height: 100vh;
}
.preload{
  font-size: 50px;
  text-align: center;
  animation: load 2s infinite alternate ease-in;
  transform: scale(1.5) rotate(360deg);
  display: none;
}
@keyframes load {
  to{
    transform: scale(1) rotate(0);
  }
}
.weatherInfo{
  display: none;
  flex-direction: column;
}
.weatherInfo *{
  display: block;
}